* {
    box-sizing: border-box;
    cursor: url('images/bob.png'), default;
    font-family: Audiowide;
    color: white;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* ----------------------- Pages Info ----------------------- */

.none {
    position: absolute;
    top: -20px;
}

.pagina-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .9);
    z-index: 7;
    display: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

label[for="intro"], label[for="rules"] {
    padding: 1em;
    font-size: 1.2em;
    background-color: purple;
    border-radius: 5px;
    margin: 1em 25%;
    display: inline-block;
    border: 1px solid purple;
    transition: background-color 400ms ease;
}

label[for="intro"]:hover, label[for="rules"]:hover {
    color: purple;
    background-color: white;
}

#intro:checked~.intro {
    display: none;
}

/* ----------------------- GAME ----------------------- */

.game {
    background: url('images/fundo.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    counter-reset: pontos;
}

.game::after {
    content: counter(pontos) '/5';
    font-size: 1.9rem;
    position: absolute;
    right: 45px;
    top: 8px;
}

.game::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 10px 4px darkgoldenrod;
    position: absolute;
    right: 10px;
    top: 16px;
}

/* ----------------------- GAME PAUSE/PLAY ----------------------- */

#pause-button {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    background-image: url('images/pause.png');
    margin: 12px;
    position: absolute;
    z-index: 4;
    outline: none;
}

#pause-button:checked {
    background-image: url('images/play.png');
}

#pause-button~.inimigo, #pause-button~.moedas {
    animation-play-state: running;
}

#pause-button:checked~.inimigo, #pause-button:checked~.moedas {
    animation-play-state: paused;
}

#pause-button:checked+#page-pause {
    display: flex;
}

/* ----------------------- Inimigos ----------------------- */

.inimigo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    animation-name: moving;
    left: var(--left);
    animation-duration: var(--duration);
    animation-iteration-count: var(--iteration);
    z-index: -1;
    animation-fill-mode: backwards;
}

.delay {
    animation-delay: 8s;
}

/* ----------------------- Moedas ----------------------- */

.moedas {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
    box-shadow: 0px 0px 10px 4px darkgoldenrod;
    -webkit-appearance: none;
    outline: none;
    appearance: none;
    animation-name: moving;
    left: var(--left);
    animation-duration: var(--duration);
    animation-iteration-count: var(--iteration);
    z-index: -1;
    animation-fill-mode: backwards;
}

.moedas:checked {
    visibility: hidden;
    counter-increment: pontos;
}

/* ----------------------- Animação ----------------------- */

@keyframes moving {
    0% {
        top: 0;
        z-index: -1;
    }
    1% {
        z-index: 2;
    }
    100% {
        z-index: 2;
        top: calc(100% - 40px);
    }
}

/* ----------------------- Pagina Modal ----------------------- */

.pagina-base {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor);
    z-index: 3;
    font-size: 99px;
}

/* ----------------------- Pagina Game Over ----------------------- */

.inimigo:hover~#game-over {
    display: flex;
}

#game-over:hover {
    display: flex;
}

/* ----------------------- Pagina Venceu ----------------------- */

#c1:checked~#c2:checked~#c3:checked~#c4:checked~#c5:checked~#venceu {
    display: flex;
}