* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    cursor: url('images/bob.png'), default;
    position: relative;
}

.game {
    background: url('images/fundo.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
}

.inimigo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    animation-name: moving;
    left: var(--left);
    animation-duration: var(--duration);
    animation-iteration-count: var(--iteration);
    z-index: -1;
    animation-fill-mode: backwards;
}

.delay {
    animation-delay: 8s;
}

.moedas {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
    -webkit-appearance: none;
    appearance: none;
    animation-name: moving;
    left: var(--left);
    animation-duration: var(--duration);
    animation-iteration-count: var(--iteration);
    z-index: -1;
    animation-fill-mode: backwards;
}

.moedas:checked {
    visibility: hidden;
}

@keyframes moving {
    0% {
        top: -25px;
        z-index: -1;
    }
    1% {
        z-index: 2;
    }
    100% {
        z-index: 2;
        top: calc(100% - 25px);
    }
}

.game-over {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 10;
    color: white;
    font-size: 99px;
    opacity: .8;
}

.inimigo:hover~.game-over {
    display: flex;
}

.game-over:hover {
    display: flex;
}